<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>


RewriteEngine On

# Rediriger tout ce qui n'est pas "www.chronos-hub.fr" vers "https://www.chronos-hub.fr"
RewriteCond %{HTTP_HOST} !^www\.chronos-hub\.fr$ [NC]
RewriteRule ^ https://www.chronos-hub.fr%{REQUEST_URI} [L,R=301]

# Rediriger tout ce qui est HTTP vers HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
		